/* Variáveis Globais */
:root{
  --vermelho:#ff2d2d;
  --vermelho-escuro:#7a0000;
  --cinza:#6b7280;
  --fundo:#f4f4f4;
}

/* Reset CSS */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Inter', sans-serif;
  background:var(--fundo);
  color:#111;
  transition:0.4s;
}

/* HEADER */

.navbar{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:18px 60px;
  background:white;
  border-bottom:1px solid #e5e7eb;
}

/* Logo */
.logo{
  font-size:22px;
  font-weight:700;
  color:var(--vermelho);
}

/* Menu */
.menu{
  list-style:none;
  display:flex;
  gap:40px;
}

.menu a{
  text-decoration:none;
  color:#111;
  font-weight:500;
}

/* Botão modo escuro */

#modo-toggle{
  background:none;
  border:none;
  font-size:20px;
  cursor:pointer;
}

/* HERO */

.hero{
  padding:250px 50px;
  background:#f4f4f4;
  text-align:center;
}

.titulo-principal{
  font-family:'Inter', sans-serif;
  font-size:60px;
  font-weight:900;
  background:linear-gradient(100deg,var(--vermelho),black);
  background-clip:text;
  -webkit-background-clip:text;
  color:transparent;
  -webkit-text-fill-color:transparent;
}

.hero p{
  font-family:'Manrope', sans-serif;
  font-size:20px;
  color:#6b7280;
  max-width:800px;
  margin:auto;
  line-height:1.7;
  margin-bottom:40px;
}

/* Botão */

.btn{
  background:var(--vermelho);
  color:white;
  border:none;
  padding:14px 28px;
  border-radius:8px;
  font-size:16px;
  cursor:pointer;
}

.btn:hover{
  background:#d60000;
}

/*SOBRE */

.sobre{
  padding:100px 80px;
}

.titulo-secao{
  text-align:center;
  font-size:48px;
  margin-bottom:10px;
}

.titulo-secao::after{
  content:"";
  display:block;
  width:70px;
  height:4px;
  background:var(--vermelho);
  margin:10px auto 60px;
}

.sobre-container{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:60px;
  align-items:start;
}

.sobre-texto{
  max-width:650px;
}

.sobre-texto p{
  font-family:'Manrope', sans-serif;
  font-size:18px;
  line-height:1.8;
}

.formacao-titulo{
  margin-top:40px;
  font-size:26px;
}

.formacao-card{
  display:flex;
  align-items:center;
  gap:15px;
  background:white;
  padding:20px;
  border-radius:10px;
  box-shadow:0 4px 10px rgba(0,0,0,0.05);
  margin-top:20px;
}

.ponto{
  width:12px;
  height:12px;
  background:var(--vermelho);
  border-radius:50%;
}

/* Skills */

.skills{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:20px;
}

.skill-card{
  background:white;
  padding:25px;
  border-radius:10px;
  border:1px solid #e5e7eb;
  transition:0.3s;
}

.skill-card:hover{
  transform:translateY(-5px);
  box-shadow:0 8px 20px rgba(0,0,0,0.08);
}

.skill-card p{
  color:#6b7280;
}

/*PROJETOS */

.projetos .sobre-texto{
  text-align:center;
  margin:0 auto 40px auto;
  max-width:800px;
}

.projetos .sobre-texto h2::after{
  content:"";
  display:block;
  width:80px;
  height:4px;
  background:var(--vermelho);
  margin:8px auto 25px;
}

.grid-container{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
  padding:20px;
}

.card{
  background:white;
  padding:20px;
  border-radius:8px;
  box-shadow:2px 2px 10px rgba(0,0,0,0.1);
  
}

.card-img{
  width:100%;
  height:180px;
  object-fit:cover;
  border-radius:8px;
  margin-bottom:15px;
}

.card h3{
  font-size:22px;
  margin-bottom:10px;
}

.card p{
  font-family:'Manrope', sans-serif;
  font-size:16px;
  line-height:1.6;
  color:#4b5563;
}

/* CONTATO */

.contato{
  padding:90px 10px;
  text-align:center;
}

.contato-sub{
  color:#6b7280;
  font-size:18px;
  margin-bottom:40px;
}

.contato-container{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
  max-width:900px;
  margin:auto;
}

.contato-card{
  background:white;
  padding:25px;
  border-radius:10px;
  border:1px solid #e5e7eb;
  transition:0.3s;
}

.contato-card:hover{
  transform:translateY(-5px);
  box-shadow:0 8px 20px rgba(0,0,0,0.08);
  border:2px solid var(--vermelho);
}

.contato-container a{
  text-decoration:none;
  color:#111;
}

.contato-container a:visited{
  color:#111;
}

.contato-container a:hover{
  color:#111;
}

/* FOOTER */

footer{
  margin-top:20px;
  padding:20px;
  background:var(--vermelho);
  color:white;
  text-align:center;
}

/* FUNDO GRID HERO */

.hero{
  background-image:linear-gradient(rgba(0,0,0,0.05) 1px, transparent 3px),
  linear-gradient(90deg, rgba(0,0,0,0.05) 1px, transparent 1px);
  background-size:40px 40px;
}



/* RESPONSIVO */

@media (max-width:768px){

.sobre-container{
grid-template-columns:1fr;
}

.navbar{
flex-direction:column;
}

}

/* DARK MODE */

.dark-mode{
background:#111;
color:white;
}

.dark-mode .navbar{
background:#1a1a1a;
border-bottom:1px solid #333;
}

.dark-mode .menu a{
color:white;
}

.dark-mode .hero{
background:#111;
}

.dark-mode .hero p{
color:#bdbdbd;
}

.dark-mode .card,
.dark-mode .skill-card,
.dark-mode .contato-card,
.dark-mode .formacao-card{
background:#1f1f1f;
color:white;
border:1px solid #333;
}

.dark-mode .card p,
.dark-mode .skill-card p,
.dark-mode .contato-sub{
color:#bdbdbd;
}

.dark-mode footer{
background:#1a1a1a;
}

.card-link{
text-decoration:none;
color:inherit;
display:block;
}

.card-link:hover h3{
color:var(--vermelho);
}

.card-img{
  transition:transform 0.4s ease;
}

.card:hover .card-img{
  transform:scale(1.08);
}

/* Minha Imagem */
.skill-img {
  width: 70%;            
  max-width: 200px;      
  height: auto;          
  border-radius: 10px;
  margin: 0 auto 0px;  
  display: block;      
  transition: transform 0.3s ease;
}

.skill-card:hover .skill-img {
  transform: scale(1.05); 
}

